<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IMainWindow" type="Edit5.Core.IMainWindow, Edit5.Core" />
    <alias alias="MainWindow" type="Edit5.MainWindow, MainWindow" />
    
    <namespace name="Edit5.Core" />
    <assembly name="Edit5.Core" />

    <namespace name="Edit5" />
    <assembly name="Edit5" />

    <container>
      <register type="IMainWindow" mapTo="MainWindow">
        <lifetime type="singleton" />
      </register>
    </container>

  </unity>

</configuration>
